<script  lang="ts">
  import MyHeader from '../../components/MyHeader.vue';
  import MyDisplay from '../../components/MyDisplay.vue';
  import MyFooter from '../../components/MyFooter.vue';
  import MyDashboard from '../../components/MyDashboard.vue';
  import MyBtn from '../../components/ui/MyBtn.vue';
  import MyIconsSVG from '../../components/ui/MyIconsSVG.vue';

  export default {
    components: {
      MyHeader,
      MyDisplay,
      MyFooter,
      MyDashboard,
      MyBtn,
      MyIconsSVG
    },
    data() {
      return {
        dashboard: false
      }
    },
    methods: {
      openDashboard() {
        this.dashboard = true
      },
      closeDashboard() {
        this.dashboard = false
      }
    }
  } 
</script>

<template>
  <div class="display-page">
    <MyHeader class="header">
      <MyBtn class="settings">
        <MyIconsSVG name="settings" @click="openDashboard" class="icon-btn" />
      </MyBtn>
    </MyHeader>

    <main class="main">
      <h1 class="visually-hidden">Сцена для презентації</h1>
      <MyDisplay/>
    </main>

    <transition name="fade">
      <MyDashboard v-show="dashboard" @click.self="closeDashboard" @closeDashboard="closeDashboard"/>
    </transition>
  </div>
</template>

<style scoped>
.display-page{
   max-width: 1800px;
    margin: 0 auto;
}
  .header{
    position: fixed;
    max-width: 1800px;
    width: 100%;
    border: none;
    padding-bottom: 0;
    opacity: .3;
    top: 0;
    z-index: 3;
    transition: all .3s;
  }
  .header:focus,
  .header:hover{
    opacity: 1;
  }
  .main{
    overflow: hidden;
  }

  .settings{
    width: 4rem;
    background: none;
    padding: .5rem;
    z-index: 2;
    opacity: .7;
  }
  .settings:hover{
  opacity: 1;
  }
  .settings:hover .icon-btn{
    transform: rotate(90deg) scale(1.1);
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.6s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    transform: translateX(100%);
  }
</style>