<script  lang="ts">
  import MyIconsSVG from '../ui/MyIconsSVG.vue';
  export default {
    
    components: {
        MyIconsSVG
      },
    
  }
</script>

<template>
  <main class="main">
    <h1>Нажаль сторінку не знайдено</h1>
    <router-link class="link" to="/">
      <MyIconsSVG name="home" class="link_icon"/>
      Повернутись на головну</router-link>
  </main>
</template>

<style scoped>
  .main{
    width: 100%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .link{
    font-size: 2rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
  }
  .link_icon{
    width: 3rem;
    height: 3rem;
    fill: #646cff;
  }
  .link:hover .link_icon{
    fill: #535bf2;
  }
</style>