<script lang="ts">
  import MyFooter from '../MyFooter.vue';
  import MyHeader from '../MyHeader.vue';
  import MyCarousel from '../MyCarousel.vue';
  
  export default {
    components: { MyHeader, MyFooter, MyCarousel}
  }
</script>

<template>
  <div class="main_page">
    <MyHeader/>
    <main class="main">
      <h1 class="title">Сайт для налаштування та презентації проектів.</h1>
      <MyCarousel/>
      <p class="text">Цей проект створено для перевірки сайтів на адаптивність під різні пристрої, дозволяє налаштувати проект та створити (відео фото) презентацію.</p>
      <router-link class="link" to="/display">Спробувати</router-link>
    </main>
    <MyFooter/>
  </div>
</template>

<style scoped>
  .main_page{
    min-height: 100vh;
    background: rgb(228, 226, 226);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .main{
    min-height: 80vh;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  .title{
    font-size: 2.8rem;
    font-weight: 500;
    margin: .5rem;
  }
  .text{
    width: 90%;
    margin: 1rem auto;
  }
 .link{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 500;
    opacity: .7;
    transition: all .3s;
  }
  .link:hover{
    opacity: 1;
  }
</style>