<script lang="ts">
  import 'vue3-carousel/dist/carousel.css'
  import { Carousel, Slide, Navigation} from 'vue3-carousel'
  import { defineComponent } from 'vue';
  import 'vue3-carousel/dist/carousel.css';
  import background_1 from '../assets/images/background_1.jpg';
import background_2 from '../assets/images/background_2.jpg';
import background_3 from '../assets/images/background_3.jpg';

  export default defineComponent({
      name: 'MyCarousel',
      components: {
        Carousel,
        Slide,
        Navigation,
      },
        data() {
        return {
          slides: [
            {
              id: 0,
              image: background_1,
              classItem: 'slide_item_1',
              title:'Як буде виглядати ваш сайт на різних пристроях.',
              link:'Переглянути'
            },
            {
              id: 1,
              image: background_2,
              classItem: 'slide_item_2',
              title: 'Налаштувати проект.',
              link:'Спробувати'
            },
            {
              id: 2,
              image: background_3,
              classItem: 'slide_item_3',
              title: 'Створити презентацію пректа для портфоліо',
              link:'Спробувати'
            }
          ],
          index:0
        }
    },
      methods: {
        handleSlideEnd(data: any) {
          this.index = data.currentSlideIndex
        },
      }, 
  })

</script>

<template>
  <carousel :autoplay="5000" :wrap-around="true" @slide-end="handleSlideEnd" :pauseAutoplayOnHover="true">
 
    <slide v-for="slide in slides" :key="slide.id">
      <div class="slide_wrapp">
        <img :src="slide.image" alt="slide">
        <div v-if="index === slide.id" :class="['slide_item_wrapp', slide.classItem]" >
          <h2 class="title">{{ slide.title }}</h2>
          <router-link class="link" to="/display">{{ slide.link }}</router-link>
        </div>
      </div>
    </slide>

    <template #addons>
     <Navigation/>
    </template>
  </carousel>
</template>

<style scoped>
   .slide_wrapp{
    width: 100%;
    box-sizing: border-box;
    color: white;
    position: relative;
   }
  .slide_wrapp img{
    display: block;
    width: 100%;
    filter:brightness(60%);
  }
  .slide_item_wrapp{
    background-image:url("../assets/images/iphone_main.png"); 
    background-repeat:no-repeat;
    background-size:100%;
    width: 20vw;
    height: 39vw;
    box-sizing: border-box;
    border-radius: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5vw;
    box-shadow:
      inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
      inset -.3rem -.3rem .3rem rgba(75, 75, 75, 0.532),
      1.2rem 1.2rem 2.4rem rgba(78, 78, 78, 0.2);
    position: absolute;
    z-index: 1;
    top: 15%;
  }
  .title{
    font-size: 1.9vw;
    font-weight: 500;
    padding: 1vw;
  }
  .link{
    color: white;
    font-size: 1.5vw;
    opacity: .7;
    transition: all .3s;
  }
  .link:hover{
    opacity: 1;
  }
  .slide_item_1{
    left: 20%;
    backdrop-filter: grayscale(60%); 
    animation: slidein 2s linear; 
  }
  .slide_item_2{
    left: 50%;
    backdrop-filter: blur(4px);
    animation: slidein_left 2s linear; 
  }
  .slide_item_3{
    left: 30%;
    backdrop-filter: blur(4px);
    animation: scale 2s linear; 
  }

  @keyframes scale {
    from {
     transform: scale(.5);
    }

    to {
     transform: scale(1);
    }
  }

  @keyframes slidein {
    from {
      transform: translateX(300%);
    }

    to {
      transform: translateX(0);
    }
  }

  @keyframes slidein_left {
    from {
      transform: translateX(-300%);
    }

    to {
      transform: translateX(0);
    }
  }
</style>
