<script lang="ts">
  import { myStore } from '../store/myStore';
  import { displayScaleStore } from '../store/displayScaleStore';
  import { createId } from '../lib/utils/create_id';
  import MyDropList from './ui/MyDropList.vue';
  import MyBtn from './ui/MyBtn.vue';
  import MyIconsSVG from './ui/MyIconsSVG.vue';
  import MyForm from './ui/MyForm.vue';

  export default {
    components: { MyDropList, MyBtn, MyIconsSVG, MyForm },
    data() {
      const { displays } = myStore;
      const { useScale } = displayScaleStore;
      return {
        displays,
        useScale
      };
    },
    methods: {
      handleHideDisplay(id: number) {
        myStore.hideDisplay(id);
      },

      handlechangeScale(id: number, event: Event ) {
        const inputElement = event.target as HTMLInputElement;
        if (inputElement instanceof HTMLInputElement) {
          myStore.changeScale(id, Number(inputElement.value))
        }
      },

      handlechangeUseScale(event: Event) {
        const inputElement = event.target as HTMLInputElement;
        if (inputElement instanceof HTMLInputElement) {
          displayScaleStore.changeUseScale(Number(inputElement.value));
        }
      },

      rotateDisplay(id: number) {
        myStore.rotateDisplay(id);
      },

      closeDashboard() {
        this.$emit('closeDashboard');
      },

      createId: createId,

      getUseScale() {
        return displayScaleStore.useScale
      }
    },
  };
</script>

<template>
  <aside class="dashboard">
    <div class="dashboard_wrapp">

      <MyBtn class="close-btn" @click="closeDashboard">
        <MyIconsSVG class="close-icon" name="close" />
      </MyBtn>

      <div class="dashboard_item form">
        <MyForm class="form" :emitSubmit="closeDashboard"/>
      </div>

      
      <div class="dashboard_item">
        <h3 class="dashboard_item-title">
          <MyIconsSVG name="full_screen" class="title_icon"/>
          маштаб екрану
        </h3>
        <input @input="handlechangeUseScale($event)" type="range" id="use_scale" name="use_scale" min=".5" max="2" step="0.1" />
        <label for="use_scale">{{(getUseScale()*100 ).toFixed()}}  %</label>
      </div>

      <MyDropList>
        <template v-slot:title>
          <MyIconsSVG name="eyeShow" class="title_icon"/>
          відображення девайсів
        </template>

        <li v-for="display in displays" :key="createId()" class="list_item">
          <h3>{{ display.title }}</h3>
          <MyBtn class="item-btn" @click="handleHideDisplay(display.id)">
            <MyIconsSVG :name="display.isHide ? 'eyeHide' : 'eyeShow'" />
          </MyBtn>
        </li>
   
      </MyDropList>

      <MyDropList>
        <template v-slot:title>
          <MyIconsSVG name="full_screen" class="title_icon"/>
          маштаб девайсів
        </template>
        <li v-for="display in displays" 
        :key="createId()" 
        :class="['list_item', display.isHide && '_hide']">
          <h3>{{ display.title }}</h3>
          <div>
            <input @input="handlechangeScale(display.id,$event)" type="range" id="scale" name="scale" min=".5" max="4" step="0.5" :value="display.scale"/>
            <label for="scale"> {{ display.scale * 100 }} %</label>
          </div>
        </li>
      </MyDropList>

      <MyDropList>
        <template v-slot:title>
          <MyIconsSVG name="rotate_phone" class="rotate_90 title_icon"/>
         обертання девайсів
        </template>
        <li v-for="display in displays" 
        :key="createId()" 
        :class="['list_item', display.rotate === null && '_hide', display.isHide && '_hide']">
          <h3>{{ display.title }}</h3>
          <MyBtn class="item-btn" @click="rotateDisplay(display.id)">
            <MyIconsSVG name="rotate_phone" 
            :class="[!display.rotate && 'rotate_90']" />
          </MyBtn>
        </li>
      </MyDropList>
    </div>
  </aside>
</template>

<style scoped>
  .dashboard{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
  }
  .dashboard_wrapp{
    min-width: 25%;
    max-height: 100vh;
    padding: 1rem .5rem;
    background: rgba(228, 227, 227,0.8);
    overflow: auto;
  }
  .dashboard_item{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    color: rgba(12, 12, 12, 0.7);
    margin: .5rem;
    padding: .5rem;
    border: 1px solid rgba(31, 30, 30, 0.5);
    border-radius: .5rem;
    background-color: rgb(240, 245, 245);
    text-align: center;
  }
  .dashboard_item-title{
    display: flex;
    align-items: center;
    justify-content:center;
    gap:.6rem;
  }
  .title_icon{
    width: 2rem;
    height: 2rem;
    fill: rgba(12, 12, 12, 0.7)
  }
  .list_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: capitalize;
    background: rgb(220, 218, 218);
    border-radius: .5rem;
  }
  .form{
    background: rgb(228, 226, 226);
    padding: .8rem .6rem;
  }
  .rotate_90{
    transform: rotate(90deg);
  }
  .list_item._hide{
    display: none;
  }
  .link{
    opacity: .7;
    transition: all .3s;
    margin: .5rem;
  }
  .link:focus,
  .link:hover{
    transform: scale(1.02);
    opacity: 1;
  }
  .link_icon{
    width: 3rem;
    height: 3rem;
  }

  .close-btn,
  .item-btn{
    padding: .5rem;
    opacity: .8;
  }
  .close-btn{
    border: 1px solid rgba(255, 255, 255, 0.507);
    padding: .1rem ;
    border-radius: 50%;
    display: block;
    margin: 1rem;
    position: absolute;
    left: 1%;
    top: 1%;
  }
  .close-icon{
    width: 2.6rem;
    height: 2.6rem;
    fill: white;
  }
  .close-btn:hover{
    transform: scale(1.03);
    opacity: 1;
  }
  .item-btn:hover,
  .item-btn:focus,
  .item-btn:focus-visible {
    transform: scale(1.03);
    opacity: 1;
  }
</style>