<script lang="ts">
  import { createId } from '../lib/utils/create_id';
  import { myStore } from '../store/myStore';
  import { displayScaleStore } from '../store/displayScaleStore';
  import MyIframe from './ui/MyIframe.vue';

  export default {
    components: {
      MyIframe
    },
    data() {
      return {
        displays: myStore.displays,
      };
    },
    methods: {
      startDragging(event: MouseEvent, index: number) {
        const display = this.displays[index];
        const shiftX = event.pageX - display.x;
        const shiftY = event.pageY - display.y;

        const moveAt = (e: MouseEvent) => {
          this.moveDisplay(index, e.pageX - shiftX, e.pageY - shiftY);
        };

        moveAt(event);

        const onMouseMove = (e: MouseEvent) => {
          moveAt(e);
        };

        window.addEventListener('mousemove', onMouseMove);

        window.addEventListener('mouseup', () => {
          window.removeEventListener('mousemove', onMouseMove);
        });

        window.addEventListener('click', () => {
          window.removeEventListener('mousemove', onMouseMove);
        });
      },

      moveDisplay(index: number, x: number, y: number) {
        myStore.moveDisplay(index, x, y);
      },

      getUseScale() {
        return displayScaleStore.useScale
      }
    },
    computed: {
      createId() {
        return createId;
      }
    }
  };
</script>

<template>
  <div class='display'
  :style="{transform: `scale(${getUseScale()})`}">
    <div v-for="(display, index) in displays" 
      :key="createId()"
      :class="['displayAll', display.className, display.isHide && '_hide',display.rotate && '_rotate-90']"
      :style="{...display.getStyle()}" 
      @mousedown="startDragging($event, index)">
      <MyIframe class="iframe" />
    </div>
  </div>
</template>

<style scoped>
  .display{
    width:100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    perspective: 800px;
    z-index: 2;
  }

  @keyframes bounce-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  .displayAll{
    background-repeat:no-repeat;
    background-size:100%;
    box-sizing: border-box;
    overflow:hidden;
    position: absolute;
    cursor: move;
  }

  .mobile {
    background-image:url("../assets/images/iphone_main.png");
    width:98px;
    height:194px;
    border-radius: 1rem;
    z-index: 5;
    box-shadow:
      inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
      inset -.3rem -.3rem .3rem rgba(48, 47, 47, 0.532),
     -0.5rem 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  }
  .mobile > .iframe{
    width:412px;
    height: 704px;
    top:17px;
    left:4px;
    overflow-y:hidden;
  }

  .mobile._rotate-90{
   background-image:url("../assets/images/iphone_main_90_deg.png");
    width:198px;
    height:101px;
    box-shadow:
      inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
      inset -.3rem -.3rem .3rem rgba(48, 47, 47, 0.532),
     -0.5rem 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  }
  .mobile._rotate-90 > .iframe{
    width: 752px;
    height: 392px;
    top: 12px;
    left: 12px;
  }

  .tablet {
    background-image:url("../assets/images/ipad_main.png");
    width:200px;
    height:300px;
    height:284px;
    z-index: 4;
    border-radius: .9rem;
    box-shadow:
      inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
      inset -.3rem -.3rem .3rem rgba(48, 47, 47, 0.532),
     -0.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
  }

  .tablet > .iframe{
    width:773px;
    height:1048px;
    top:25px;
    left:14px;
    overflow-y:hidden
  }
 .tablet._rotate-90{
    background-image:url("../assets/images/ipad_main_90_deg.png");
    width:300px;
    height:212px; 
    border-radius: 1rem;
    box-shadow:
      inset .3rem .3rem .3rem rgba(255, 255, 255, 0.213),
      inset -.3rem -.3rem .3rem rgba(48, 47, 47, 0.532),
     -0.5rem 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
 }
 .tablet._rotate-90 > .iframe{
    width:1100px;
    height:822px;
    top:17px;
    left:27px;
 }

  .laptop {
    background-image:url("../assets/images/laptop_main.png");
    width: 476px;
    height: 282px;
    z-index: 3;
  }
  .laptop > .iframe{
    width:1280px;
    height:802px;
    top: 23px;
    left: 62px;
    transform:scale(0.277);
    transform-origin:top left;
  }

  .desktop {
    width:560px;
    height:435px;
    background-image:url("../assets/images/desktop.png");
    z-index: 2;
  }
  .desktop > .iframe{
    width:1640px;
    height:980px;
    top:20px;
    left:20px;
  
    transform:scale(0.3181);
    transform-origin:top left;
  }
  ._hide{
    display: none;
  }
</style>
