<script  lang="ts">
  import MyIconsSVG from './ui/MyIconsSVG.vue';

  export default {
    components: {
      MyIconsSVG
    },
  }
</script>

<template>
  <footer class="footer">
    <div class="footer-wrap">
      <a class="footer_mail" href="mailto:brodich_vlad@ukr.net"> 
        <MyIconsSVG name="email" class="footer_mail_icon"/>
        brodich_vlad@ukr.net</a>
      <p class="footer_date" lang="uk">9 Лютого 2024р.</p>
    </div>
  </footer>
</template>

<style scoped>
  .footer{
    border-top: 1px solid black;
  }
  .footer-wrap{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin: 0 auto;
    padding: 1rem 0;
  }
  .footer_mail{
    font-size: 1.8rem;
    line-height: 1.3;
    display: flex;
    align-items: center;
    opacity: .8;
    transition: all .3s;
  }
  .footer_mail_icon{
    width: 2.3rem;
    margin-right: .5rem;
    fill: #646cff;
  }
  .footer_mail:focus .footer_mail_icon,
  .footer_mail:hover .footer_mail_icon{
    fill:  rgb(52, 137, 248);
  }

  .footer_mail:hover,
  .footer_mail:focus{
    color: rgb(52, 137, 248);
    opacity: 1;
  }

  .footer_date{
    font-size: 1.6rem;
    line-height: 1.3;
  }
  @media (max-width: 820px) {
    .footer-wrap{
      flex-direction: column;
    }
  }
</style>