<script lang="ts">
  import MyBtn from './ui/MyBtn.vue';
  import MyForm from './ui/MyForm.vue';
  import { useRouter } from 'vue-router';
  import MyIconsSVG from './ui/MyIconsSVG.vue';
 
  export default {
    components: {
    MyBtn,
    MyForm,
    MyIconsSVG
},
  methods: {
    curentPage(path: string): boolean {
      return this.router.currentRoute.value.path === path
    }
  },
  setup() {
    const router = useRouter()
    const emitSubmit=() =>{
      router.push('/display')  
    }
     return {
       emitSubmit,
      router
    };  
  }
    
  };
</script>

<template>
  <header class="header">
    <nav class="header_wrap">
      <router-link v-if="curentPage('/')" class="logo" to="/">
        <span class="logo_yllow">V</span><span class="logo_blue">B</span>
      </router-link>
      <router-link v-if="curentPage('/display')" class="header_link" to="/">
        <MyIconsSVG name="chevronLeft" class="link_icon"/>
        <MyIconsSVG name="home" class="link_icon"/>
      </router-link>
      <slot></slot>
      <MyForm v-if="curentPage('/')" :emitSubmit="emitSubmit" />

    </nav>
  </header>
</template>

<style scoped>
  .header{
    border-bottom:1px solid rgba(0, 0, 0, 0.582) ;
    box-sizing: border-box;
    padding: 1.2rem 0;
  }
  .header_wrap{
    
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo{
    font-family: var(--font-Kalam);
    font-style: italic;
    font-size: 5rem;
    font-weight: 600;
    text-shadow: 1.2rem 1.2rem 1rem rgba(116, 115, 115, .6); 
  }
  .logo_yllow{
    display: inline-block;
    color: yellow;
  }
  .logo_blue{
    display: inline-block;
    color: rgb(32, 103, 255);
  }

  .header_link{
    opacity: .8;
    transition: all .3s;
  }
  .header_link:hover{
    transform: scale(1.03);
    opacity: 1;
  }
  .link_icon{
    width: 2.7rem;
    height: 2.7rem;
  }

  @media (max-width: 820px) {
    .logo{
      font-size: 4rem;
    }
  }
</style>