<script setup lang="ts"></script>

<template>
  <!-- <router-view></router-view> -->
  <router-view v-slot="{ Component }">
    <transition name="fade">
      <component :is="Component" />
    </transition>
  </router-view>
  <!-- <router-view v-slot="{ Component, route }">
    <transition :name="route.meta.transition || 'fade'">
      <component :is="Component" />
    </transition>
  </router-view> -->
</template>

<style scoped>
/* .fade-enter-active {
  animation: bounce-in 0.5s;
}
.fade-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
   transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
  }
} */
 .fade-enter-active{
    transition: all 0.3s ease;
    /* transform: scale(1);
    opacity: 1; */
  }
  .fade-leave-active {
    transition: all 0.3s ease;
    transform: scale(1.5);
    opacity: 0;
  }

  /* .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  } */
.slide-right-enter-active {
  transition: all 0.3s ease-out;
}

.slide-right-leave-active {
  transition: all 0.5s;
  transform: translateX(100%);
}
.slide-left-enter-active {
  transition: all 0.3s ease-out;
}

.slide-left-leave-active {
  transition: all 0.5s;
  transform: translateX(-100%);
}
/* .slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
} */

  /* .fade-enter-active,
  .fade-leave-active {
    transition: all 1.8s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .slide-left-enter-active,
  .fade-leave-active {
    transition: all 1.8s ease;
  }

  .slide-left-enter-from,
  .slide-left-leave-to {
    transform: translateY(-100%);
  } */
</style>