<template>
  <button type="button" class="btn">
    <slot></slot>
  </button>
</template>

<style scoped>
  .btn {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em;
    font-size: 1em;
    font-weight: 500;
    background: none;
    cursor: pointer;
    transition: all 0.3s;
  }
</style>

<script setup lang="ts"></script>