<script lang="ts">
  import MyIconsSVG from './MyIconsSVG.vue';
  export default {
    components: {
      MyIconsSVG
    },
    data() {
      return {
        open:false  
      }
    },
    methods: {
      toggle() {
        this.open = !this.open
      }
    }
  }
</script>

<template>
  <ul class="drop_list">
    <li class="toggle" @click="toggle">
      <h2 class="title"><slot name="title"></slot></h2>
      <MyIconsSVG name="chevronDown" :class="{ 'rotate-180': open }" />
    </li>
    <transition name="fade" class="fade">
      <li v-show="open">
        <ul class="items">
        <slot></slot>
        </ul>
       
      </li>
    </transition>
  </ul>
</template>

<style scoped>
  .fade-enter-active,
  .fade-leave-active {
    transition: all 0.3s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    transform: translateY(-100%);
    opacity: 0;
  }

  .drop_list {
    padding: 0 .5rem;
    margin-bottom: .5rem;
    overflow: hidden;
  }

  .toggle {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
    border: 1px solid rgba(31, 30, 30, 0.5);
    border-radius: .5rem;
    gap: 1rem;
    cursor: pointer;
    background-color: rgb(240, 245, 245);
    position: relative;
    z-index: 2;
    opacity: .8;
    transition: all .3s;
  }

  .toggle:focus,
  .toggle:hover {
    opacity: 1;
  }

  .title {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  .items {
    box-sizing: border-box;
    border: 1px solid rgba(31, 30, 30, 0.5);
    border-top: none;
    border-radius: 0 0 .5rem .5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }
  .rotate-180 {
    transform: rotate(180deg);
  }
</style>