<script lang="ts">
  import { useForm, useField } from 'vee-validate';
  import { toTypedSchema } from '@vee-validate/zod';
  import * as zod from 'zod';
  import { defineComponent} from 'vue';
  import { myStore } from '../../store/myStore';
  import MyBtn from './MyBtn.vue';
  
  const validationSchema = toTypedSchema(
    zod.object({
      url: zod.string().trim().min(1, { message: 'Поле не може бути порожнім' }).url({ message: 'Не валідний url адрес' })
    })
  );


  export default defineComponent({
    props: {
      emitSubmit: Function // Приймаємо функцію як пропс
    },
    components: {
      MyBtn
    },
    setup(props) {
      const { handleSubmit, errors, resetForm } = useForm({
        validationSchema
      });

      const { value: url } = useField('url');
      const onSubmit = () => {
        handleSubmit((values) => {
          // Викликаємо функцію з батьківського компонента, якщо вона передана
          if (props.emitSubmit) {
            props.emitSubmit();
          }
          // Здійснюємо інші дії, якщо потрібно
          myStore.changeUseUrl(values.url);
          resetForm();
        })();
      };

      return {
        onSubmit,
        errors,
        url,
      };
    }
  });
</script>

<template>
  <form @submit.prevent="onSubmit" :class="['form', errors.url && '_error']">
    <label class="label" for="url">Введіть адресу вашої сторінки</label>
    <input id="url" class="input" name="url" v-model="url" type="url" />
    <span class="error_message" v-if="errors.url">{{ errors.url }}</span>
    <MyBtn class="submit" type="submit">Переглянути</MyBtn>
  </form>
</template>


<style scoped>
  .form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border: 1px solid rgba(53, 53, 53, 0.582);
    border-radius: .5rem;
    padding: .5rem;
    position: relative;
  }
  .form._error{
    border-color: red;
  }
  .label{
    font-size: 1.1rem;
    position: absolute;
    top: -.8rem;
    left: .5rem;
    background: rgb(228, 226, 226);
    border-radius: .5rem;
    padding: 0 .8rem;
  }
  .input{
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: .5rem;
    padding: .5rem;
    background: none;
    border: none;
    outline:none
  }
  .error_message{
    font-size: 1.3rem;
    color: red;
    position: absolute;
    bottom: -.6rem;
    left: 1rem;
    background: rgb(228, 226, 226);
    border-radius: .5rem;
    padding: 0 .8rem;
  }
  .submit{
    font-size: 1.4rem;
    text-transform: capitalize;
    opacity: .8;
    padding: .5rem;
  }
  .submit:focus,
  .submit:hover{
    opacity: 1;
  }
</style>