<script lang="ts">
  type Name = 'email' | 'settings' | 'eyeHide' | 'eyeShow' | 'menu' | 'info' | 'phone' | 'chevronDown' | 'chevronLeft' |'chevronRight' |'rotate_phone' | 'full_screen' | 'normal_screen' | 'home' | 'close';

  export default {
    props: {
      name: {
        type: String as () => Name,
        required: true
      }
    },
    methods: {
      getViewBox(name: Name) {
        switch (name) { 
          case 'rotate_phone':
            return "0 0 60 60"
          case 'full_screen':
            return "0 0 32 32"  
          case 'normal_screen':
            return "0 0 32 32"    
          default:
            return "0 0 24 24"
        };
      }
    }
  }
</script>

<template>
  <svg class="icon" xmlns="http://www.w3.org/2000/svg" :viewBox=getViewBox(name) >

  <!-- icon close -->
    <path v-if="name == 'close' " d="M6.4 19 5 17.6l5.6-5.6L5 6.4 6.4 5l5.6 5.6L17.6 5 19 6.4 13.4 12l5.6 5.6-1.4 1.4-5.6-5.6Z" />

  <!-- icon home -->
  <path v-if="name == 'home' " d="M12 5.69L17 10.19V18H15V12H9V18H7V10.19L12 5.69ZM12 3L2 12H5V20H11V14H13V20H19V12H22L12 3Z" />

  <!-- icon full_screen -->
  	<g v-if="name == 'full_screen'">
  		<path d="M32,26V2H0v24h14v2H8v2h16v-2h-6v-2H32z M2,24V4h28v20H2z"/>
  		<polygon points="28,14 28,6 20,6"/>
  		<polygon points="4,22 12,22 4,14"/>
  	</g>

   <!-- icon normal_screen -->
  	<g v-if="name == 'normal_screen'">
  		<path d="M0,2v24h14v2H8v2h16v-0.061c2.702-0.299,5.042-1.791,6.48-3.939H32V2H0z M23,27.999
			c-3.865-0.008-6.994-3.135-7-6.999c0.006-3.865,3.135-6.994,7-7c3.863,0.006,6.991,3.135,6.999,7
			C29.991,24.864,26.863,27.991,23,27.999z M30,15.35c-0.57-0.707-1.244-1.326-2-1.832V6h-8l6.896,6.896
			C25.717,12.328,24.398,12,23,12c-4.973,0-9,4.027-9,9c0,1.055,0.19,2.061,0.523,3H2V4h28V15.35z"/>
  		<polygon points="4,14 4,22 12,22"/>
  		<polygon points="25,17 23,19 21,17 19,19 21,21 19,23 21,25 23,23 25,25 27,23 25,21 27,19" />
  	</g>

    <!-- icon email -->
    <path v-if="name == 'email' " d="M22 6C22 4.9 21.1 4 20 4H4C2.9 4 2 4.9 2 6V18C2 19.1 2.9 20 4 20H20C21.1 20 22 19.1 22 18V6ZM20 6L12 11L4 6H20ZM20 18H4V8L12 13L20 8V18Z" />

    <!-- icon settings -->
    <path v-if="name == 'settings'" d="M19.43 12.98C19.47 12.66 19.5 12.34 19.5 12C19.5 11.66 19.47 11.34 19.43 11.02L21.54 9.37C21.73 9.22 21.78 8.95 21.66 8.73L19.66 5.27C19.57 5.11 19.4 5.02 19.22 5.02C19.16 5.02 19.1 5.03 19.05 5.05L16.56 6.05C16.04 5.65 15.48 5.32 14.87 5.07L14.49 2.42C14.46 2.18 14.25 2 14 2H10C9.75002 2 9.54002 2.18 9.51002 2.42L9.13002 5.07C8.52002 5.32 7.96002 5.66 7.44002 6.05L4.95002 5.05C4.89002 5.03 4.83002 5.02 4.77002 5.02C4.60002 5.02 4.43002 5.11 4.34002 5.27L2.34002 8.73C2.21002 8.95 2.27002 9.22 2.46002 9.37L4.57002 11.02C4.53002 11.34 4.50002 11.67 4.50002 12C4.50002 12.33 4.53002 12.66 4.57002 12.98L2.46002 14.63C2.27002 14.78 2.22002 15.05 2.34002 15.27L4.34002 18.73C4.43002 18.89 4.60002 18.98 4.78002 18.98C4.84002 18.98 4.90002 18.97 4.95002 18.95L7.44002 17.95C7.96002 18.35 8.52002 18.68 9.13002 18.93L9.51002 21.58C9.54002 21.82 9.75002 22 10 22H14C14.25 22 14.46 21.82 14.49 21.58L14.87 18.93C15.48 18.68 16.04 18.34 16.56 17.95L19.05 18.95C19.11 18.97 19.17 18.98 19.23 18.98C19.4 18.98 19.57 18.89 19.66 18.73L21.66 15.27C21.78 15.05 21.73 14.78 21.54 14.63L19.43 12.98ZM17.45 11.27C17.49 11.58 17.5 11.79 17.5 12C17.5 12.21 17.48 12.43 17.45 12.73L17.31 13.86L18.2 14.56L19.28 15.4L18.58 16.61L17.31 16.1L16.27 15.68L15.37 16.36C14.94 16.68 14.53 16.92 14.12 17.09L13.06 17.52L12.9 18.65L12.7 20H11.3L11.11 18.65L10.95 17.52L9.89002 17.09C9.46002 16.91 9.06002 16.68 8.66002 16.38L7.75002 15.68L6.69002 16.11L5.42002 16.62L4.72002 15.41L5.80002 14.57L6.69002 13.87L6.55002 12.74C6.52002 12.43 6.50002 12.2 6.50002 12C6.50002 11.8 6.52002 11.57 6.55002 11.27L6.69002 10.14L5.80002 9.44L4.72002 8.6L5.42002 7.39L6.69002 7.9L7.73002 8.32L8.63002 7.64C9.06002 7.32 9.47002 7.08 9.88002 6.91L10.94 6.48L11.1 5.35L11.3 4H12.69L12.88 5.35L13.04 6.48L14.1 6.91C14.53 7.09 14.93 7.32 15.33 7.62L16.24 8.32L17.3 7.89L18.57 7.38L19.27 8.59L18.2 9.44L17.31 10.14L17.45 11.27ZM12 8C9.79002 8 8.00002 9.79 8.00002 12C8.00002 14.21 9.79002 16 12 16C14.21 16 16 14.21 16 12C16 9.79 14.21 8 12 8ZM12 14C10.9 14 10 13.1 10 12C10 10.9 10.9 10 12 10C13.1 10 14 10.9 14 12C14 13.1 13.1 14 12 14Z" />

    <!-- icon eyeHide -->
    <path v-if="name == 'eyeHide'" d="M11.83 9L15 12.16C15 12.11 15 12.05 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9C11.94 9 11.89 9 11.83 9ZM7.53 9.8L9.08 11.35C9.03 11.56 9 11.77 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.22 15 12.44 14.97 12.65 14.92L14.2 16.47C13.53 16.8 12.79 17 12 17C10.6739 17 9.40215 16.4732 8.46447 15.5355C7.52678 14.5979 7 13.3261 7 12C7 11.21 7.2 10.47 7.53 9.8ZM2 4.27L4.28 6.55L4.73 7C3.08 8.3 1.78 10 1 12C2.73 16.39 7 19.5 12 19.5C13.55 19.5 15.03 19.2 16.38 18.66L16.81 19.08L19.73 22L21 20.73L3.27 3M12 7C13.3261 7 14.5979 7.52678 15.5355 8.46447C16.4732 9.40215 17 10.6739 17 12C17 12.64 16.87 13.26 16.64 13.82L19.57 16.75C21.07 15.5 22.27 13.86 23 12C21.27 7.61 17 4.5 12 4.5C10.6 4.5 9.26 4.75 8 5.2L10.17 7.35C10.74 7.13 11.35 7 12 7Z" />

    <!-- icon eyeShow -->
    <path v-if="name == 'eyeShow'" d="M12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9ZM12 17C10.6739 17 9.40215 16.4732 8.46447 15.5355C7.52678 14.5979 7 13.3261 7 12C7 10.6739 7.52678 9.40215 8.46447 8.46447C9.40215 7.52678 10.6739 7 12 7C13.3261 7 14.5979 7.52678 15.5355 8.46447C16.4732 9.40215 17 10.6739 17 12C17 13.3261 16.4732 14.5979 15.5355 15.5355C14.5979 16.4732 13.3261 17 12 17ZM12 4.5C7 4.5 2.73 7.61 1 12C2.73 16.39 7 19.5 12 19.5C17 19.5 21.27 16.39 23 12C21.27 7.61 17 4.5 12 4.5Z" />

    <!-- icon menu -->
    <path v-if="name == 'menu'" d="M3 18H21V16H3V18ZM3 13H21V11H3V13ZM3 6V8H21V6H3Z" />

    <!-- icon info -->
    <g v-if="name == 'info'">
      <path  d="M12 1.5C6.20156 1.5 1.5 6.20156 1.5 12C1.5 17.7984 6.20156 22.5 12 22.5C17.7984 22.5 22.5 17.7984 22.5 12C22.5 6.20156 17.7984 1.5 12 1.5ZM12 20.7188C7.18594 20.7188 3.28125 16.8141 3.28125 12C3.28125 7.18594 7.18594 3.28125 12 3.28125C16.8141 3.28125 20.7188 7.18594 20.7188 12C20.7188 16.8141 16.8141 20.7188 12 20.7188Z" />
      <path d="M10.875 7.875C10.875 8.17337 10.9935 8.45952 11.2045 8.6705C11.4155 8.88147 11.7016 9 12 9C12.2984 9 12.5845 8.88147 12.7955 8.6705C13.0065 8.45952 13.125 8.17337 13.125 7.875C13.125 7.57663 13.0065 7.29048 12.7955 7.0795C12.5845 6.86853 12.2984 6.75 12 6.75C11.7016 6.75 11.4155 6.86853 11.2045 7.0795C10.9935 7.29048 10.875 7.57663 10.875 7.875ZM12.5625 10.5H11.4375C11.3344 10.5 11.25 10.5844 11.25 10.6875V17.0625C11.25 17.1656 11.3344 17.25 11.4375 17.25H12.5625C12.6656 17.25 12.75 17.1656 12.75 17.0625V10.6875C12.75 10.5844 12.6656 10.5 12.5625 10.5Z" />
    </g>
      <!-- icon phone -->
    <path v-if="name == 'phone'"  d="M6.54 5C6.6 5.89 6.75 6.76 6.99 7.59L5.79 8.79C5.38 7.59 5.12 6.32 5.03 5H6.54ZM16.4 17.02C17.25 17.26 18.12 17.41 19 17.47V18.96C17.68 18.87 16.41 18.61 15.2 18.21L16.4 17.02ZM7.5 3H4C3.45 3 3 3.45 3 4C3 13.39 10.61 21 20 21C20.55 21 21 20.55 21 20V16.51C21 15.96 20.55 15.51 20 15.51C18.76 15.51 17.55 15.31 16.43 14.94C16.33 14.9 16.22 14.89 16.12 14.89C15.86 14.89 15.61 14.99 15.41 15.18L13.21 17.38C10.38 15.93 8.06 13.62 6.62 10.79L8.82 8.59C9.1 8.31 9.18 7.92 9.07 7.57C8.7 6.45 8.5 5.25 8.5 4C8.5 3.45 8.05 3 7.5 3Z" />

    <!-- icon chevronLeft -->
    <path v-if="name == 'chevronLeft'" d="m14 18-6-6 6-6 1.4 1.4-4.6 4.6 4.6 4.6Z" /> 

    <!-- icon chevronRight -->
    <path v-if="name == 'chevronRight'" d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z" />

    <!-- icon chevronDown -->
    <path v-if="name == 'chevronDown'" d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z" /> 
    <!-- icon rotate phone-->
    <g v-if="name == 'rotate_phone'">
      <path d="M7,39c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S9.206,39,7,39z M7,45c-1.103,0-2-0.897-2-2s0.897-2,2-2s2,0.897,2,2
        S8.103,45,7,45z"/>
      <path d="M56,38c-0.552,0-1,0.447-1,1v4c0,0.553,0.448,1,1,1s1-0.447,1-1v-4C57,38.447,56.552,38,56,38z"/>
      <path d="M56,45c-0.552,0-1,0.447-1,1v1c0,0.553,0.448,1,1,1s1-0.447,1-1v-1C57,45.447,56.552,45,56,45z"/>
      <path d="M36,6h-1c-0.552,0-1,0.447-1,1s0.448,1,1,1h1c0.552,0,1-0.447,1-1S36.552,6,36,6z"/>
      <path d="M51,6c-0.552,0-1,0.447-1,1s0.448,1,1,1h1c0.552,0,1-0.447,1-1s-0.448-1-1-1H51z"/>
      <path d="M55,6c-0.552,0-1,0.447-1,1s0.448,1,1,1h1c0.552,0,1-0.447,1-1s-0.448-1-1-1H55z"/>
      <path d="M40,6h-1c-0.552,0-1,0.447-1,1s0.448,1,1,1h1c0.552,0,1-0.447,1-1S40.552,6,40,6z"/>
      <path d="M47,6c-0.552,0-1,0.447-1,1s0.448,1,1,1h1c0.552,0,1-0.447,1-1s-0.448-1-1-1H47z"/>
      <path d="M44,6h-1c-0.552,0-1,0.447-1,1s0.448,1,1,1h1c0.552,0,1-0.447,1-1S44.552,6,44,6z"/>
      <path d="M32,6h-1c-0.552,0-1,0.447-1,1s0.448,1,1,1h1c0.552,0,1-0.447,1-1S32.552,6,32,6z"/>
      <path d="M59.899,29.483c-0.125-0.585-0.369-1.124-0.701-1.598C59.652,27.791,60,27.407,60,26.925v-0.993c0-0.553-0.448-1-1-1
        s-1,0.447-1,1v0.792c-0.012-0.008-0.025-0.013-0.037-0.021c-0.178-0.114-0.363-0.214-0.555-0.302
        c-0.058-0.026-0.114-0.053-0.173-0.077c-0.044-0.018-0.085-0.041-0.129-0.057c-0.036-0.013-0.072-0.008-0.108-0.017
        C56.554,26.1,56.088,26,55.595,26h-1.546h-0.913h-2.737h-0.912h-2.738h-0.912H43.1h-0.913H39.45h-0.913H35.8h-0.913H32.15h-0.913
        h-2.382c-0.173-0.296-0.487-0.5-0.856-0.5c-0.366,0-0.673,0.207-0.847,0.5H4.405C1.976,26,0,27.977,0,30.405v25.189
        C0,58.023,1.976,60,4.405,60h51.189C58.024,60,60,58.023,60,55.595V30.405v-0.5C60,29.753,59.96,29.612,59.899,29.483z M28.5,28
        h2.737h0.913h2.737H35.8h2.737h0.913h2.737H43.1h2.737h0.912h2.738h0.912H52v30H14V28h13H28.5z M2,55.595V30.405
        C2,29.079,3.079,28,4.405,28H12v30H4.405C3.079,58,2,56.921,2,55.595z M58,55.595C58,56.921,56.921,58,55.595,58H54V28h0.049h1.546
        c0.307,0,0.597,0.063,0.867,0.168c0.177,0.069,0.346,0.156,0.503,0.265C57.589,28.868,58,29.588,58,30.405V55.595z"/>
      <path d="M58,22.95c0,0.553,0.448,1,1,1s1-0.447,1-1v-0.993c0-0.553-0.448-1-1-1s-1,0.447-1,1V22.95z"/>
      <path d="M58,15.002c0,0.553,0.448,1,1,1s1-0.447,1-1v-0.993c0-0.553-0.448-1-1-1s-1,0.447-1,1V15.002z"/>
      <path d="M46.703,2h0.994c0.552,0,1-0.447,1-1s-0.448-1-1-1h-0.994c-0.552,0-1,0.447-1,1S46.151,2,46.703,2z"/>
      <path d="M54.652,2h0.994c0.552,0,0.975-0.447,0.975-1s-0.473-1-1.025-1h-0.943c-0.552,0-1,0.447-1,1S54.1,2,54.652,2z"/>
      <path d="M50.678,2h0.993c0.552,0,1-0.447,1-1s-0.448-1-1-1h-0.993c-0.552,0-1,0.447-1,1S50.125,2,50.678,2z"/>
      <path d="M57.82,3.492c0.159,0.387,0.532,0.62,0.926,0.62c0.126,0,0.255-0.023,0.379-0.075c0.511-0.209,0.755-0.793,0.546-1.305
        c-0.163-0.396-0.383-0.768-0.654-1.102C58.668,1.2,58.039,1.136,57.61,1.484c-0.429,0.348-0.495,0.978-0.147,1.406
        C57.612,3.073,57.732,3.275,57.82,3.492z"/>
      <path d="M59,12.028c0.552,0,1-0.447,1-1v-0.994c0-0.553-0.448-1-1-1s-1,0.447-1,1v0.994C58,11.581,58.448,12.028,59,12.028z"/>
      <path d="M58,18.977c0,0.553,0.448,1,1,1s1-0.447,1-1v-0.993c0-0.553-0.448-1-1-1s-1,0.447-1,1V18.977z"/>
      <path d="M59,5.061c-0.552,0-1,0.447-1,1v0.993c0,0.553,0.448,1,1,1s1-0.447,1-1V6.061C60,5.508,59.552,5.061,59,5.061z"/>
      <path d="M28,12.576c0.552,0,1-0.447,1-1v-0.993c0-0.553-0.448-1-1-1s-1,0.447-1,1v0.993C27,12.129,27.448,12.576,28,12.576z"/>
      <path d="M28,16.551c0.552,0,1-0.447,1-1v-0.994c0-0.553-0.448-1-1-1s-1,0.447-1,1v0.994C27,16.104,27.448,16.551,28,16.551z"/>
      <path d="M28,24.499c0.552,0,1-0.447,1-1v-0.993c0-0.553-0.448-1-1-1s-1,0.447-1,1v0.993C27,24.052,27.448,24.499,28,24.499z"/>
      <path d="M42.729,2h0.994c0.552,0,1-0.447,1-1s-0.448-1-1-1h-0.994c-0.552,0-1,0.447-1,1S42.177,2,42.729,2z"/>
      <path d="M28,8.602c0.552,0,1-0.447,1-1V6.608c0-0.553-0.448-1-1-1s-1,0.447-1,1v0.993C27,8.154,27.448,8.602,28,8.602z"/>
      <path d="M28,20.525c0.552,0,1-0.447,1-1v-0.994c0-0.553-0.448-1-1-1s-1,0.447-1,1v0.994C27,20.078,27.448,20.525,28,20.525z"/>
      <path d="M38.755,2h0.993c0.552,0,1-0.447,1-1s-0.448-1-1-1h-0.993c-0.552,0-1,0.447-1,1S38.203,2,38.755,2z"/>
      <path d="M34.78,2h0.994c0.552,0,1-0.447,1-1s-0.448-1-1-1H34.78c-0.552,0-1,0.447-1,1S34.228,2,34.78,2z"/>
      <path d="M27.862,4.608c0.076,0.018,0.152,0.025,0.227,0.025c0.455,0,0.866-0.313,0.973-0.774c0.053-0.228,0.139-0.445,0.255-0.648
        c0.275-0.479,0.109-1.091-0.37-1.365c-0.479-0.275-1.091-0.108-1.365,0.369c-0.214,0.374-0.372,0.775-0.469,1.193
        C26.989,3.946,27.324,4.483,27.862,4.608z"/>
      <path d="M30.809,2.052c0.058,0,0.116-0.005,0.175-0.016C31.121,2.013,31.262,2,31.405,2H31.8c0.552,0,1-0.447,1-1s-0.448-1-1-1
        h-0.395c-0.259,0-0.518,0.022-0.77,0.067c-0.544,0.096-0.907,0.614-0.811,1.158C29.911,1.711,30.333,2.052,30.809,2.052z"/>
      <path d="M4,22c0.552,0,1-0.447,1-1c0-6.065,4.935-11,11-11h2.586l-4.293,4.293c-0.391,0.391-0.391,1.023,0,1.414
        C14.488,15.902,14.744,16,15,16s0.512-0.098,0.707-0.293l5.999-5.999c0.093-0.092,0.166-0.203,0.217-0.326
        c0.101-0.244,0.101-0.52,0-0.764c-0.051-0.123-0.124-0.234-0.217-0.326l-5.999-5.999c-0.391-0.391-1.023-0.391-1.414,0
        s-0.391,1.023,0,1.414L18.586,8H16C8.832,8,3,13.832,3,21C3,21.553,3.448,22,4,22z"/>
    </g>
  </svg>
</template>

<style scoped>
  .icon{
    width: 2.4rem;
    height: 2.4rem;
    fill: rgb(36, 36, 36);
    transition: all .3s;
  }
</style>