<script lang="ts">
  import { myStore } from '../../store/myStore';
  export default {
    methods: {
      getUrl() {
        return myStore.useUrl
      }
    }
  }
</script>

<template>
  <iframe v-bind:src="getUrl()"></iframe>
</template>

<style scoped>
  iframe{
    transform:scale(0.219);
    transform-origin:top left;
    margin:0;padding:0;
    position:relative;
    background-color:#1b1b1bfe;
    border-radius: .5rem;
  }
</style>